<%inherit file="base.html"/>

<form action="/purchase" method="POST" class="form-horizontal">
  <fieldset>
    <legend>Select your items</legend>
    <div class="control-group">
      <label class="control-label" for="widget1Box">
        A great widget
      </label>
      <div class="controls">
        <label class="checkbox">
          <input id="widget1Box" name="widget1" type="checkbox" value="buy">
          10 BTC
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="widget2Box">
        An even better widget
      </label>
      <div class="controls">
        <label class="checkbox">
          <input id="widget2Box" name="widget2" type="checkbox" value="buy">
          20 BTC
        </label>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Pay with itBit
      </button>
    </div>
  </fieldset>
</form>

<form action="/deposit" method="POST" class="form-horizontal">
  <fieldset>
    <legend>Deposit 10 BTC</legend>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Deposit to itBit
      </button>
    </div>
  </fieldset>
</form>
